html {
    font-size: 16.5px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 15 píxeles de altura */
    font-family: 'Poppins', sans-serif; /*1º cargará la fuente Poppins y si no puede se carrgará sans-serif*/
}

body {
    margin: 0;
    background-color: antiquewhite;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #000000;
}

h2 {
    text-align: center;
}

/*Aplica en un principio a todos los párrafos*/
p {
    text-align: center;
    margin: 8px 45px 8px 45px;
}

/*ESTILO PARA LOS HEADER*/
header {
    margin: 0;
    height: 80px;
    text-align: center;
    background-color: #2196f3;
    border-bottom: 3px solid black;
}

#navegador {
    display: flex;
    justify-content: center;
}

#navegador ul {
    text-align: center;
    align-items: center;
    list-style-type: none; /*No voy a utilizar puntos o marcadores de ningún tipo al lado de los elementos de la lista*/
    margin: 20;
    padding: 0;
    display: flex;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 18px;
}

#navegador li a {
    padding: 2px 7px 2px 7px; /*Para tener más espacio alrededor de cada enlace*/
    text-decoration: none; /*Quito el subrayado del enlace*/
    background-color: #b0d1f5;
    border: 1.6px solid black;
    border-radius: 12px; /*Bordes redondos*/
    color: black; /*Color del texto del enlace*/
}

/*hover es para cuando paso el ratón por encima*/
#navegador li a:hover{
    background-color:rgb(220, 218, 218);
}

#texto_incial {
    font-size: 17.5px;
    color: black;
}

/*Imagen de la página principal*/
#html-css-image {
    display: block;
    margin: 18px auto 18px auto;
    width: 600px;
    height: auto;
}

/*Imagen Control Ray Tracing*/
#control-rtx {
    height: 320px;
    width: auto;
    display: block;
    margin: 20px auto 20px auto;
}

/*Imagen esquema Ray Tracing*/
#esquema-rtx {
    height: 300px;
    width: auto;
    display: block;
    padding: 16px;
    margin: 20px auto 20px auto;
    border: 2px solid black;
}

.apartados-FII {
    margin: 0 18px 0 18px;
    padding: 1px 160px 1px 16px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #b0d1f5; 
}

/*Texto sobre mi*/
#sobre-mi-descripcion p {
    text-align: justify;
    margin: 8px 75px 8px 50px;
}

/*Imagen Marcos sobre mi*/
#sobre-mi-descripcion img {
    display: flex;
    width: 410px;
    height: auto;
    margin: 50px 0px 20px 50px;
    border: 2px solid black;
}

#sobre-mi-descripcion {
    display: flex;
    align-items: center;
}

#cv-marcos {
    width: 600px;
    height: auto;
    display: flex;
    margin: 20px auto 20px auto;
    border: 2.8px solid black;
}

#formulario ul {
    text-align: center;
    list-style-type: none;
}

#formulario {
    text-align: center;
}

#enlaces-RTX {
    text-align: center;
    list-style-type: none;
}

#subFII p {
    text-align: justify;
    margin: 22px;
}

#enlaces-cv {
    text-align: center;
    list-style-type: none;
}